APScheduler==3.6.3
beautifulsoup4==4.8.2
blinker==1.4
certifi==2019.11.28
chardet==3.0.4
click==7.1.1
colorama==0.4.3
Flask==1.1.1
Flask-APScheduler==1.11.0
Flask-Cors==3.0.8
Flask-HTTPAuth==3.3.0
Flask-Mail==0.9.1
flask-mongoengine==0.9.5
Flask-WTF==0.14.3
html5lib==1.0.1
idna==2.9
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mongoengine==0.19.1
Pillow==8.1.1
pymongo==3.10.1
python-dateutil==2.8.1
pytz==2019.3
qrcode==6.1
requests==2.23.0
six==1.14.0
soupsieve==2.0
tzlocal==2.0.0
urllib3==1.25.8
webencodings==0.5.1
Werkzeug==1.0.0
WTForms==2.2.1
